@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://do.linkedin.com/in/enjher-javier-ag%C3%BCero-ovalles-64138b1b2?original_referer=https%3A%2F%2Fwww.linkedin.com%2F" target="_blank">Enjher Javier Agüero Ovalles</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
