@page "/"

<h1>¡Bienvenido!</h1>
<p>Navega por las diferentes secciones y empieza a divertirte, pero sin dejar de aprender, ya que...</p>
<p class="motivacion">"El aprendizaje es un tesoro que seguirá a su dueño a cualquier lugar."</p>

<img src="https://cdn.pixabay.com/photo/2024/02/10/08/01/mountains-8564328_1280.png" class="imagen-fondo"/>

<style>

    h1 {
        color: #3498db;
        text-shadow: 2px 2px 5px #2980b9; 
        text-align: center;
    }

    p {
        font-size: 18px;
        text-align: center;
    }

    .motivacion {
        font-style: italic;
        color: #2ecc71;
        margin-top: 20px;
        transition: color 0.3s ease; 
    }

    .motivacion:hover {
        color: #e74c3c;
    }

    .imagen-fondo {
        display: block;
        margin: 0 auto; 
        width: 80%; 
        max-width: 800px; 
        height: auto; 
    }
</style>