@page "/acerca"

<PageTitle>Acerca de</PageTitle>

<h1>Acerca de mí</h1>

<div class="profile">
    <img src="javy.jpg" style="width:150px;height:150px;" />
    <p><strong>Nombre:</strong> Enjher J. Agüero Ovalles</p>
    <p><strong>A qué me quiero dedicar:</strong> Me gustaría dedicarme a ser desarrollador de software.</p>
    <a href="mailto:enjherjavier01@gmail.com">enjherjavier01@gmail.com</a>
    <p></p>
    <a href="https://wa.me/8493943802" target="_blank">WhatsApp</a>
</div>

<style>
    .profile {
        text-align: center;
        margin-top: 20px;
    }

    img {
        border-radius: 50%;
    }

    p {
        font-size: 16px;
    }

    a {
        color: #3498db;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>